:root {
    --pastel-blue: #AEC6CF;
    --pastel-red: #C9A0DC;
    --pastel-green: #a4e5a4;
    --pastel-yellow: #FDFD96;
    --darker-pastel-green: #6dbd6d;
    --moss-green: #2A4238;
    --forest-green: #3C6E47;
    --muted-rose: #D0B6B1;
    --dusky-pink: #AA8A86;
    --blue-grey: #A0AEB2;
    --almost-white: #FAFAF9;
    --text-dark: #2A3132;
    --button-pastel-purple: #c7add3;
    --button-hover-purple: #b496c2;
    --darker-forest-green: #2A4238;
    --balloon-box-color: #3B554B;
}

main{
    margin-top: 10em;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../../fonts/font.ttf') format('truetype');
}
@font-face {
    font-family: 'CustomFontLight';
    src: url('../../fonts/fontlight.ttf') format('truetype');
}
@font-face {
    font-family: 'CustomFontBold';
    src: url('../../fonts/fontBOLD.ttf') format('truetype');
}
@font-face {
    font-family: 'CustomFontSemi';
    src: url('../../fonts/fontsemi.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
    background-color: var(--almost-white);
    margin: 0;
    padding: 0;
}



header {
    background-color: var(--almost-white);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.25rem;
    flex: 2;
}

.logo-title {
    font-family: 'CustomFontBold', Arial, sans-serif;
    color: var(--forest-green);
    margin-right: 1rem;
}

.logo-title a {
    text-decoration: none;
    color: var(--forest-green);
}

.nav-left, .nav-right {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left {
    float: left;
}

#logo {
    border-radius: 50%;
    width: 3.125rem;
}

.nav-right {
    float: right;
    margin-right: 1.25rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 0 0.9375rem;
}

.nav-left li, .nav-right li {
    padding: 0 0.9375rem;
}

.nav-left li a, .nav-right li a {
    text-decoration: none;
    color: var(--text-dark);
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
    border-radius: 1.25rem;
    padding: 0.625rem 0.9375rem;
    transition: background-color 0.05s;
    white-space: nowrap;
}

nav ul li a:hover {
    background-color: var(--text-dark);
    color: var(--almost-white);
}

.sell-cta {
    background-color: var(--almost-white);
    color: var(--text-dark);
    text-align: center;
    padding: 18.75rem 5rem;
}

.sell-cta h1 {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.sell-cta p {
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
}

.sell-button {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    display: inline-block;
    padding: 0.625rem 1.875rem;
    background: linear-gradient(135deg, var(--pastel-green) 0%, var(--button-hover-purple) 100%);
    color: var(--almost-white);
    border-radius: 3.125rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sell-button:hover {
    color:var(--almost-white);
    transition-delay: 1s;
    transform: scale(1.02);
}

.main-feature {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    text-align: center;
    color: var(--text-dark);
    padding: 3.125rem 0;
    background-color: var(--almost-white);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    gap: 0.9375rem;
    padding: 1.25rem;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background-color: var(--almost-white);
}

.book-item {
    padding: 0.4375rem;
    text-align: center;
    color: var(--text-dark);
}

.book-item img {
    max-width: 100%;
    height: 17.5rem;
    object-fit: fill;
}

footer {
    color: var(--text-dark);
    text-align: center;
    padding: 0.625rem 0;
}

@media (max-width: 18.75rem) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 0.625rem;
    }

    .search-container {
        margin-top: 0.625rem;
    }

    .search-container input[type="text"],
    .search-container button {
        width: 100%;
    }

    .nav-left, .nav-right {
        float: none;
        width: 100%;
        justify-content: center;
    }

    .nav-left li, .nav-right li {
        width: 100%;
        text-align: center;
    }

    .nav-left li:not(:first-child), .nav-right li:not(:last-child) {
        display: none;
    }
}

.text-button {
    background: none;
    border: none;
    color: var(--text-dark);
    padding: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin-top: 0.625rem;
    width: 100%;
    font-family: 'CustomFontLight', Arial, sans-serif;
}

.text-button:hover {
    text-decoration: underline;
    color: var(--darker-forest-green);
}

.login-container {
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 1.875rem;
}

.login-form {
    width: 100%;
    max-width: 20rem;
    background-color: var(--almost-white);
    padding: 1.25rem;
    border-radius: 0.5rem;
}

.form-title {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.form-field {
    margin-bottom: 2rem;
}

.form-field label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-dark);
}

.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"] {
    width: 100%;
    padding: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    width: 100%;
    padding: 0.625rem;
    border: none;
    background-color: var(--text-dark);
    color: var(--almost-white);
    border-radius: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--moss-green);
    transform: scale(1.02);
}

.book-detail-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: var(--almost-white);
}

.book-detail {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    align-items: center;
}

.book-image {
    flex-basis: 40%;
    text-align: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

.book-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.book-metadata {
    flex-basis: 60%;
    padding: 1.25rem;
    box-sizing: border-box;
}

.book-title, .book-author, .book-isbn, .book-genre, .book-seller, .book-condition, .book-price, .book-description, .book-listing-date {
    margin-bottom: 0.625rem;
    color: var(--text-dark);
}

.book-title {
    font-family: 'CustomFontBold', Arial, sans-serif;
    font-size: 1.5rem;
}

.add-to-cart-button {
    margin-top: 1.25rem;
    background-color: var(--darker-forest-green);
    color: white;
    border: none;
    font-family: 'CustomFontSemi';
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: var(--darker-pastel-green);
}

.seller-profile {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: var(--darker-forest-green);
    border-radius: 5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.seller-info {
    display: flex;
    align-items: center;
}

.seller-photo {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.25rem;
}

.seller-profile h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
}

.books-container {
    margin-top: 1.875rem;
    padding: 1.25rem;
    background-color: var(--almost-white);
}

.filter-sort-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.book-filter {
    margin-right: auto;
    margin-left: 1.25rem;
}

.book-sort {
    margin-left: auto;
    margin-right: 1.25rem;
}

.book-filter label, .book-sort label {
    margin-right: 0.625rem;
}

.book-filter select, .book-sort select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 0.875rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.apply {
    padding: 0.4375rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--darker-forest-green);
    color: #fff;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'CustomFontSemi', Arial, sans-serif;
}

.apply:hover {
    background-color: var(--text-dark);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    gap: 0.9375rem;
    justify-content: center;
    align-items: stretch;
}

.book-item {
    border: 2px solid var(--moss-green);
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 0.625rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 28.125rem;
    width: 12.5rem;
}

.book-item:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.book-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.625rem;
    object-fit: cover;
    flex-grow: 0;
    flex-shrink: 0;
}

.book-item-title {
    font-size: 1rem;
    font-family: 'CustomFontSemi';
    margin: 0.625rem 0;
    color: var(--text-dark);
}

.book-item-author {
    font-size: 0.85rem;
    color: var(--text-dark);
    margin: 0.3125rem 0;
}

.book-item-price {
    font-size: 1rem;
    color: var(--moss-green);
    margin-bottom: 0.625rem;
}

.book-item-labels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book-item-title, .book-item-author, .book-item-price {
    margin: 0.3125rem 0;
}

.book-item-label {
    background-color: var(--pastel-green);
    border-radius: 0.3125rem;
    padding: 0.1875rem 0.375rem;
    font-size: 0.75rem;
    margin: 0.125rem auto;
    color: var(--almost-white);
    text-transform: uppercase;
    margin-top: auto;
}

.cart-container {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 60px; 
}

h1 {
    font-family: 'CustomFontSemi', sans-serif;
    color: var(--text-dark);
    padding-bottom: 1.25rem;
    text-align: center;
}

.cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 0.625rem;
    align-items: center;
    border-bottom: 1px solid var(--darker-forest-green);
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    padding-top: 1.25rem;
}

.cart-item-image img {
    max-width: 6.25rem;
    height: 6.25rem;
    object-fit: contain;
}

.cart-item-info h2 {
    font-family: 'CustomFontSemi', sans-serif;
    color: var(--text-dark);
    margin-bottom: 0.3125rem;
}

.cart-item-info p {
    font-family: 'CustomFont', sans-serif;
    color: var(--text-dark);
}

.cart-item-quantity input {
    width: 3.125rem;
    padding: 0.3125rem;
    text-align: center;
    border: 1px solid var(--darker-forest-green);
    border-radius: 0.25rem;
}

.cart-item-total p {
    font-family: 'CustomFont', sans-serif;
    color: var(--moss-green);
}

.cart-summary {
    font-family: 'CustomFontLight', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid var(--darker-forest-green);
}

.button-continue {
    font-family: 'CustomFont', sans-serif;
    background-color: transparent;
    color: var(--text-dark);
    border: 2px solid var(--text-dark);
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 3.125rem;
    text-decoration: none;
    transition: background-color 0.1s;
}

.button-continue:hover {
    background-color: var(--text-dark);
    color: var(--almost-white);
}

.total-container {
    text-align: center;
    width: 100%;
}

.total-container h3 {
    font-family: 'CustomFontSemi', sans-serif;
    color: var(--text-dark);
}

.total-price {
    font-family: 'CustomFontSemi', sans-serif;
    font-size: 1.5rem;
    color: var(--moss-green);
}

.total-container p {
    font-family: 'CustomFont', sans-serif;
    color: var(--text-dark);
}

.button-checkout {
    font-family: 'CustomFont', sans-serif;
    background-color: transparent;
    color: var(--text-dark);
    border: 2px solid var(--text-dark);
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.625rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.button-checkout:hover {
    background-color: var(--darker-forest-green);
    color: var(--almost-white);
}

@media (max-width: 37.5rem) {
    .cart-item {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cart-item-image, .cart-item-info, .cart-item-quantity, .cart-item-total {
        margin-bottom: 0.625rem;
    }

    .cart-summary {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1.25rem;
    margin-top: 4em;
}

.profile-card {
    background: #FFFFFF;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    width: 100%;
    max-width: 21.875rem;
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo-wrapper {
    position: relative;
    width: 14.375rem;
    height: 14.375rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    background: linear-gradient(45deg, var(--pastel-green), var(--button-hover-purple));
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--almost-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-photo-wrapper:hover .edit-overlay {
    opacity: 1;
}

.profile-photo-wrapper input[type="file"] {
    display: none;
}

.profile-info {
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}

.profile-info h1 {
    margin: 0.625rem 0;
    color: #333;
}

.profile-info p {
    color: #555;
    font-size: 0.95em;
}

.profile-action-buttons {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

@media (max-width: 37.5rem) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        width: 90%;
    }
}

.alert {
    margin: 1.25rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

.action-button {
    font-family: 'CustomFont', sans-serif;
    display: block;
    width: 9.375rem;
    padding: 0.625rem;
    margin-top: 0.625rem;
    background-color: var(--darker-forest-green);
    color: var(--almost-white);
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: var(--text-dark);
    transform: scale(1.03);
}

header, footer {
    padding: 0.625rem;
    text-align: center;
}

footer {
    font-size: 0.8em;
    margin-top: 1.25rem;
}

.error {
    color: var(--dusky-pink);
    font-family: 'CustomFontLight', sans-serif;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: var(--almost-white);
    margin: 15% auto;
    padding: 2.1875rem;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1.875rem;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.modal h2 {
    color: var(--text-dark);
    margin-bottom: 1.25rem;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-bottom: 0.3125rem;
    color: var(--text-dark);
    font-weight: bold;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea,
.modal input[type="file"] {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: var(--almost-white);
    font-family: 'CustomFontLight', sans-serif;
}

.modal textarea {
    height: 6.25rem;
    resize: vertical;
}

.file-upload-wrapper {
    margin: 0.625rem 0;
    position: relative;
    display: flex;
    align-items: center;
}

.custom-file-upload {
    border: 2px solid var(--balloon-box-color);
    color: var(--balloon-box-color);
    background-color: var(--almost-white);
    border-radius: 1.25rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'CustomFont', sans-serif;
}

.custom-file-upload:hover {
    background-color: var(--balloon-box-color);
    color: var(--almost-white);
}

#file-chosen {
    margin-left: 0.625rem;
    font-size: 0.9em;
    color: #555;
}

.profile-photo-wrapper {
    position: relative;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.25rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1.25rem;
    margin-top: 2em;
}

.profile-card {
    background: #FFFFFF;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    width: 100%;
    max-width: 21.875rem;
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo-wrapper {
    position: relative;
    width: 14.375rem;
    height: 14.375rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    padding: 0.3125rem;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-photo-wrapper:hover .edit-overlay {
    opacity: 1;
}

.profile-photo-wrapper input[type="file"] {
    display: none;
}

.profile-info {
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}

.profile-info h1 {
    margin: 0.625rem 0;
    color: #333;
}

.profile-info p {
    color: #555;
    font-size: 0.95em;
}

.profile-action-buttons {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

@media (max-width: 37.5rem) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        width: 90%;
    }
}

.alert {
    margin: 1.25rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

.action-button {
    font-family: 'CustomFont', sans-serif;
    display: block;
    width: 9.375rem;
    padding: 0.625rem;
    margin-top: 0.625rem;
    background-color: var(--darker-forest-green);
    color: var(--almost-white);
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: var(--text-dark);
    transform: scale(1.03);
}

header, footer {
    padding: 0.625rem;
    text-align: center;
}

footer {
    font-size: 0.8em;
    margin-top: 1.25rem;
}

.error {
    color: var(--dusky-pink);
    font-family: 'CustomFontLight', sans-serif;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: var(--almost-white);
    margin: 15% auto;
    padding: 2.1875rem;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1.875rem;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.modal h2 {
    color: var(--text-dark);
    margin-bottom: 1.25rem;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-bottom: 0.3125rem;
    color: var(--text-dark);
    font-weight: bold;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea,
.modal input[type="file"] {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: var(--almost-white);
    font-family: 'CustomFontLight', sans-serif;
}

.modal textarea {
    height: 6.25rem;
    resize: vertical;
}

.file-upload-wrapper {
    margin: 0.625rem 0;
    position: relative;
    display: flex;
    align-items: center;
}

.custom-file-upload {
    border: 2px solid var(--balloon-box-color);
    color: var(--balloon-box-color);
    background-color: var(--almost-white);
    border-radius: 1.25rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'CustomFont', sans-serif;
}

.custom-file-upload:hover {
    background-color: var(--balloon-box-color);
    color: var(--almost-white);
}

#file-chosen {
    margin-left: 0.625rem;
    font-size: 0.9em;
    color: #555;
}

.profile-photo-wrapper {
    position: relative;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.25rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1.25rem;
}

.profile-card {
    background: #FFFFFF;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    width: 100%;
    max-width: 21.875rem;
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo-wrapper {
    position: relative;
    width: 14.375rem;
    height: 14.375rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    padding: 0.3125rem;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-photo-wrapper:hover .edit-overlay {
    opacity: 1;
}

.profile-photo-wrapper input[type="file"] {
    display: none;
}

.profile-info {
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}

.profile-info h1 {
    margin: 0.625rem 0;
    color: #333;
}

.profile-info p {
    color: #555;
    font-size: 0.95em;
}

.profile-action-buttons {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

@media (max-width: 37.5rem) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        width: 90%;
    }
}

.alert {
    margin: 1.25rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

.seller-info a {
    color: white;
    text-decoration: none;
}

.seller-info a:hover {
    color: var(--pastel-green);
}

a {
    color: var(--darker-forest-green);
    text-decoration: none;
}

a:hover {
    color: var(--pastel-green);
}

.books-container-selling {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    background-color: #fff;
}

.book-item-selling {
    border: 2px solid var(--moss-green);
    border-radius: 0.25rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12.5rem;
    padding: 0.625rem;
}

.book-item-selling img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.625rem;
    object-fit: cover;
}

.book-item-selling h3 {
    font-family: 'CustomFontSemi';
    font-size: 1rem;
    color: var(--text-dark);
    margin: 0.625rem 0;
}

.book-item-selling p {
    font-family: 'CustomFont';
    font-size: 0.85rem;
    color: var(--text-dark);
    margin: 0.3125rem 0;
}

.view-book-details, .remove-from-selling {
    font-family: 'CustomFontSemi';
    background-color: var(--button-hover-purple);
    color: var(--almost-white);
    border: none;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.view-book-details:hover, .remove-from-selling:hover {
    background-color: var(--text-dark);
}

.add-book-button {
    text-align: center;
    margin-bottom: 1.25rem;
}

.add-book-link {
    font-family: 'CustomFontSemi';
    background-color: var(--button-hover-purple);
    color: var(--almost-white);
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-book-link:hover {
    background-color: var(--text-dark);
}

@media (max-width: 37.5rem) {
    .profile-container, .profile-card {
        flex-direction: column;
        align-items: center;
    }

    .profile-photo-wrapper {
        width: 12.5rem;
        height: 12.5rem;
    }

    .books-container, .books-container-selling {
        flex-direction: column;
        align-items: center;
    }

    .book-item, .book-item-selling {
        width: 100%;
    }
}



@media (max-width: 37.5rem) { /* max-width: 600px */
    .cart-item {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cart-item-image, .cart-item-info, .cart-item-quantity, .cart-item-total {
        margin-bottom: 0.625rem; /* margin-bottom: 10px */
    }

    .cart-summary {
        flex-direction: column;
        gap: 1.25rem; /* gap: 20px */
    }
}

/* Profile Image Wrapper */
.profile-photo-wrapper {
    position: relative;
    width: 14.375rem; /* width: 230px */
    height: 14.375rem; /* height: 230px */
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1.25rem; /* margin: 0 auto 20px */
    background: linear-gradient(45deg, var(--pastel-green), var(--button-hover-purple));
    padding: 0.625rem; /* padding: 10px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--almost-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Book Grid Items */
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr)); /* minmax(180px, 1fr) */
    gap: 0.9375rem; /* gap: 15px */
    padding: 1.25rem; /* padding: 20px */
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background-color: #FAFAF9;
}

.book-item {
    border: 0.125rem solid var(--moss-green); /* border: 2px */
    border-radius: 0.25rem; /* border-radius: 4px */
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12.5rem; /* width: 200px */
    padding: 0.625rem; /* padding: 10px */
}

.book-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.625rem; /* margin-bottom: 10px */
    object-fit: cover;
}



/* General Container Styles */
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10em auto;
    
}

.cart-items {
    flex: 1;
    margin-right: 20px;
}

.cart-items h2 {
    font-family: 'CustomFontBold', sans-serif;
    color: var(--text-dark);
    margin-bottom: 20px;
}

.books-container-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-item-cart {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.book-card-cart {
    display: flex;
    align-items: center;
    width: 100%;
}

.book-item-image-cart {
    height: auto;
    width: 120px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.book-details-cart {
    flex: 1;
    padding: 20px;
}

.book-item-title-cart {
    font-family: 'CustomFontBold', sans-serif;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 10px;
}

.book-item-author-cart, .book-item-price-cart {
    font-family: 'CustomFont', sans-serif;
    font-size: 1em;
    color: var(--text-dark);
    margin-bottom: 2em;
}

.remove-from-cart {
    
    font-family: 'CustomFontSemi', sans-serif;
    color: var(--text-dark);
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--text-dark);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.remove-from-cart:hover {
    background-color: var(--text-dark);
    color: var(--almost-white);
}

.checkout-form {
    flex: 1;
    max-width: 35%;
    background: linear-gradient(45deg, var(--pastel-green), var(--button-hover-purple));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.checkout-form h2 {
    font-family: 'CustomFontBold', sans-serif;
    color: var(--text-dark);
    margin-bottom: 20px;
}

.checkout-form p {
    font-family: 'CustomFontSemi', sans-serif;
    color: var(--text-dark);
    margin-bottom: 10px;
    align-items: center;
}

.checkout-form input {
    width: 99%;
    padding: 0.5em 1em; /* Use em units for padding */
    margin-bottom: 1em; /* Use em units for margin */
    border: 2px solid var(--text-dark);
    border-radius: 10px;
    font-family: 'CustomFont', sans-serif;
    box-sizing: border-box; /* Ensure padding is included in the total width */
    outline: none; /* Remove default outline */
    align-self: center;
}
.checkout-form input:focus {
    border-color: var(--pastel-green); /* Change border color to pastel green on focus */
    box-shadow: 0 0 0 2px var(--pastel-green); /* Add a custom outline with pastel green color */
}

.payment-option {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    color: var(--text-dark);
}

.payment-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.payment-option .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid var(--text-dark);
    border-radius: 50%;
}

.payment-option:hover input ~ .checkmark {
    background-color: #f0f0f0;
}

.payment-option input:checked ~ .checkmark {
    background-color: var(--darker-forest-green);
}

.payment-option .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.payment-option input:checked ~ .checkmark:after {
    display: block;
}

.payment-option .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.checkout-button {
    font-family: 'CustomFontSemi', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: var(--text-dark);
    color: var(--almost-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-button:hover {

    color: var(--button-hover-purple);
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .cart-items, .checkout-form {
        width: 100%;
        margin: 10px 0;
    }

    .book-item-cart {
        flex-direction: column;
    }

    .book-item-image-cart {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .remove-from-cart {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}

/* Profile Image Wrapper */
.profile-photo-wrapper {
    position: relative;
    width: 14.375rem; /* width: 230px */
    height: 14.375rem; /* height: 230px */
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1.25rem; /* margin: 0 auto 20px */
    background: linear-gradient(45deg, var(--pastel-green), var(--button-hover-purple));
    padding: 0.625rem; /* padding: 10px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--almost-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Book Grid Items */
.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    gap: 0.9375rem;
    padding: 1.25rem;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background-color: var(--almost-white);
}

/* Book Item */
.book-item {
    padding: 0.4375rem;
    text-align: center;
    color: var(--text-dark);
    border: 0.125rem solid var(--moss-green);
    border-radius: 0.25rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12.5rem;
}

.book-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.625rem;
    object-fit: cover;
}

.book-item-title {
    font-size: 1rem;
    font-family: 'CustomFontSemi';
    margin: 0.625rem 0;
    color: var(--text-dark);
}

.book-item-author {
    font-size: 0.85rem;
    color: var(--text-dark);
    margin: 0.3125rem 0;
}

.book-item-price {
    font-size: 1rem;
    color: var(--moss-green);
    margin-bottom: 0.625rem;
}

.book-details-wishlist a {
    display: block;
    margin: 0.625rem 0;
}

.remove-from-wishlist,
.add-to-cart {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    color: var(--text-dark);
    border: none;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 0.625rem;
}

.remove-from-wishlist:hover,
.add-to-cart:hover {
    color:var(--button-hover-purple)
}


.sell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.25rem;
    background: linear-gradient(45deg, var(--pastel-green), var(--button-hover-purple));
}

.selling-details {
    background-color: var(--almost-white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 1rem; /* Add margin to ensure proper spacing */
}

.selling-details h2 {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    color: var(--text-dark);
    text-align: center;
}

.selling-details form {
    display: flex;
    flex-direction: column;
}

.form-group, .form-group-condition {
    margin-bottom: 1.25rem;
}

.form-group label, .form-group-condition label {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
    display: block;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-family: 'CustomFontLight', Arial, sans-serif;
}

.form-group-condition .stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-group-condition .stars label {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.sell-page-button {
    font-family: 'CustomFontSemi', Arial, sans-serif;
    padding: 0.75rem 1.5rem;
    background-color: var(--button-hover-purple);
    color: var(--almost-white);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 1rem; /* Add margin to ensure proper spacing */
}

.sell-page-button:hover {
    background-color: var(--text-dark);
    transform: scale(1.05);
}

/* Footer */

.sellbody{
    background: linear-gradient(45deg, var(--pastel-green), var(--button-hover-purple));
}